<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あぐりふぇいく | ギャラリー</title>

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" th:href="@{/user/css/reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/user/css/header.css}">
    <link rel="stylesheet" th:href="@{/user/css/footer.css}">
    <!-- ===== GalleryPage CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/user/css/gallery.css}">
  </head>

  <body>
    <!-- ========== ヘッダー ========== -->
    <div th:replace="~{user/components/header :: header}"></div>


    <main>
      <!-- ========== ギャラリー ========== -->
      <section class="gallery-product">
        <header class="headline">
          <h2 class="headline__text">ギャラリー</h2>
        </header>

        <!-- ===== 農作物リスト ===== -->
        <div class="gallery__group gallery__group--fresh-produce">
          <h3 class="gallery__title">農作物</h3>
          <div th:replace="~{user/components//gallery-grid :: gallery(items=${freshProduce})}"></div>
        </div>

        <!-- ===== 加工品リスト ===== -->
        <div class="gallery__group gallery__group--processed-products">
          <h3 class="gallery__title">加工品</h3>
          <div th:replace="~{user/components/gallery-grid :: gallery(items=${processedProducts})}"></div>
        </div>

        <!-- ===== 詳細モーダル ===== -->
        <div th:replace="~{common/components/gallery/gallery-modal :: modal(contentFragment=~{user/components/gallery-modal-content :: content})}"></div>

      </section>
    </main>


    <!-- ========== フッター ========== -->
    <div th:replace="~{user/components/footer :: footer}"></div>


    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" th:src="@{/user/js/header.js}"></script>
    <!-- ===== GalleryData Script ===== -->
    <script type="module" th:src="@{/user/js/gallery.js}"></script>
    <!-- ===== Gallery Script ===== -->
    <script th:src="@{/common/js/gallery-modal.js}"></script>

  </body>
</html>