<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>あぐりふぇいく | 採用情報</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/favicon/apple-touch-icon.png" th:href="@{/user/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/favicon/favicon-32x32.png" th:href="@{/user/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/favicon/favicon-16x16.png" th:href="@{/user/images/favicon/favicon-16x16.png}">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="description" content="架空の農業企業「あぐりふぇいく」の採用情報ページです。採用情報について紹介します。">
    <meta property="og:title" content="あぐりふぇいく | 採用情報">
    <meta property="og:description" content="架空の農業企業「あぐりふぇいく」の採用情報ページです。採用情報について紹介します。">
    <meta property="og:image" content="/user/assets/images/ogp/OGP_image.jpeg" th:content="@{/user/images/ogp/OGP_image.jpeg}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://agrifake.com/">

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@600;700&display=swap" rel="stylesheet">

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" href="/user/assets/css/reset.css" th:href="@{/user/css/reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" href="/user/assets/css/header.css" th:href="@{/user/css/header.css}">
    <link rel="stylesheet" href="/user/assets/css/common.css" th:href="@{/user/css/common.css}">
    <link rel="stylesheet" href="/user/assets/css/footer.css" th:href="@{/user/css/footer.css}">
    <link rel="stylesheet" href="/common/assets/css/form-modal.css" th:href="@{/common/css/form-modal.css}">
    <!-- ===== RecruitPage CSS　 ===== -->
    <link rel="stylesheet" href="/user/assets/css/recruit.css" th:href="@{/user/css/recruit.css}">
  </head>

  <body>
    <!-- ========== ヘッダー ========== -->
    <div id="header" th:replace="~{user/components/header :: header}"></div>


    <main>
      <!-- ========== 募集要項イントロ ========== -->
      <section class="section recruit-intro">
        <header class="headline">
          <h2 class="headline__text">募集要項</h2>
        </header>

        <div class="intro__group intro__group--recruit-list">
          <p class="intro__text intro__text--recruit-list">
            私たちは、人とのつながりを大切にし、チーム全体で支え合う文化を大事にしています。<br>
            仕事内容や働き方について、分からないことや不安なことがあれば、どんな些細なことでもお気軽にお問い合わせください。<br>
            皆さん一人ひとりの疑問や希望に真摯に向き合い、丁寧にお答えします。<br>
            あなたのキャリアやライフスタイルに合った働き方を一緒に考えていきましょう。
          </p>
        </div>
      </section>


      <!-- ========== 募集要項一覧 ========== -->
      <section class="section recruit-job-description-list">
        <header class="headline">
          <h3 class="headline__text">募集要項一覧</h3>
        </header>

        <div id="job-description-table"></div>
      </section>


      <!-- ========== 応募フォーム ========== -->
      <section class="section recruit-entry-form">
        <header class="headline">
          <h2 class="headline__text">応募フォーム</h2>
        </header>

        <!-- ===== 応募フォームイントロ ===== -->
        <div class="intro__group intro__group--entry-form">
          <p class="intro__text intro__text--entry-form">
            Webでの応募が難しい場合は、お電話にてご連絡のうえ、履歴書を紙でご持参いただくことも可能です。<br>
            内容や提出方法について、不明な点やご不安な点があれば、どんなことでもお気軽にお問い合わせください。<br>
            このフォームから送信された情報は、採用選考の目的のみに使用し、選考終了後は責任をもって適切に廃棄いたします。
          </p>
        </div>

        <form class="entry-form-group" id="entry-form"
              th:action="@{/recruit}"
              th:object="${recruitApplicationDto}"
              method="post"
              enctype="multipart/form-data">
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="name">お名前<span class="form-required">必須</span></label>
            <input class="recruit__form--input" type="text" id="name" th:field="*{name}" required data-label="お名前">
          </div>
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="phone">電話番号</label>
            <input class="recruit__form--input" type="tel" id="phone" th:field="*{phone}" data-label="電話番号">
          </div>
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="email">メールアドレス<span class="form-required">必須</span></label>
            <input class="recruit__form--input" type="email" id="email" th:field="*{email}" required data-label="メールアドレス">
          </div>
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="note">備考</label>
            <textarea class="recruit__form--input textarea-input" rows="10" id="note" th:field="*{note}" data-label="備考"></textarea>
          </div>
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="resume">履歴書<span class="form-required">必須</span></label>
            <div class="recruit__form--file">
              <span class="recruit__form--text">※ PDF または Word 形式のファイルを添付してください</span>
              <input type="file" id="resume" th:field="*{resume}" accept=".pdf,.doc,.docx" required data-label="履歴書">
            </div>
          </div>
          <div class="recruit__form--row">
            <label class="form__label recruit__form--label" for="career_history">職務経歴書</label>
            <div class="recruit__form--file">
              <span class="recruit__form--text">※ PDF または Word 形式のファイルを添付してください</span>
              <input type="file" id="career_history" th:field="*{careerHistory}" accept=".pdf,.doc,.docx" data-label="職務経歴書">
            </div>
          </div>

          <div class="form-submit">
            <button class="submit-btn" type="submit" id="openComfirmBtn">送信</button>
          </div>
        </form>

        <!-- ---------- 送信確認モーダル ---------- -->
        <div th:replace="~{common/components/form-modal/confirm.html :: confirm(
          ${confirm.title},
          ${confirm.message},
          ${confirm.cancelLabel},
          ${confirm.submitLabel}
        )}"></div>

        <!-- ---------- 完了モーダル ---------- -->
        <div th:replace="common/components/form-modal/complete :: completeModalFragment"></div>
      </section>
    </main>


    <!-- ========== フッター ========== -->
    <div id="footer" th:replace="~{user/components/footer :: footer}"></div>

    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" src="/user/assets/js/header.js" th:src="@{/user/js/header.js}"></script>
    <script type="module" src="/user/assets/js/footer.js" th:src="@{/user/js/footer.js}"></script>
    <!-- ===== RecruitPage Script ===== -->
    <script type="module" src="/user/assets/js/recruit.js" th:src="@{/user/js/recruit.js}"></script>
    <script type="module" src="/common/assets/js/job-postings.js" th:src="@{/common/js/job-postings.js}"></script>
  </body>
</html>