<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あぐりふぇいく | ギャラリー</title>

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" th:href="@{/user/css/reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/user/css/header.css}">
    <link rel="stylesheet" th:href="@{/user/css/footer.css}">
    <!-- ===== GalleryPage CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/user/css/gallery.css}">
  </head>

  <body>
    <!-- ========== ヘッダー ========== -->
    <div th:replace="~{user/components/header :: header}"></div>


    <main>
      <!-- ========== ギャラリー ========== -->
      <section class="gallery-product">
        <header class="headline">
          <h2 class="headline__text">ギャラリー</h2>
        </header>

        <!-- ===== 農作物リスト ===== -->
         <div class="gallery__group gallery__group--fresh-produce">
          <h3 class="gallery__title">農作物</h3>
          <ul id="freshProduceList" class="gallery__list gallery__list--fresh-produce"></ul>
         </div>

        <!-- ===== 加工品リスト ===== -->
        <div class="gallery__group gallery__group--processed-products">
          <h3 class="gallery__title">加工品</h3>
          <ul id="processedProductsList" class="gallery__list gallery__list--processed-products"></ul>
        </div>

        <!-- ---------- 生産物モーダル ---------- -->
        <div id="product_modal" class="modal hidden">
          <div class="modal__overlay"></div>
          <div class="modal__group">
            <img id="modalProductImage" class="modal__image" alt="">
            <h4 id="modalProductLabel" class="modal__label"></h4>
            <p id="modalProductDescription" class="modal__description"></p>

            <button id="modalProductClose" class="modal__close"><p class="closeBtnText">×</p></button>
          </div>
        </div>
      </section>
    </main>


    <!-- ========== フッター ========== -->
    <div th:replace="~{user/components/footer :: footer}"></div>


    <!-- ========== JavaScript ========== -->
    <!-- ========== Common Script ========== -->
    <script type="module" th:src="@{/user/js/header.js}"></script>
    <!-- ===== GalleryData Script ===== -->
    <script type="module" th:src="@{/user/js/gallery.js}"></script>

  </body>
</html>