<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>あぐりふぇいく | ギャラリー</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/favicon/apple-touch-icon.png" th:href="@{/user/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/favicon/favicon-32x32.png" th:href="@{/user/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/favicon/favicon-16x16.png" th:href="@{/user/images/favicon/favicon-16x16.png}">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="description" content="あぐりふぇいくの農作業の様子や収穫した農作物を紹介するギャラリーページです。">
    <meta property="og:title" content="あぐりふぇいく | ギャラリー">
    <meta property="og:description" content="あぐりふぇいくの農作業の様子や収穫した農作物を紹介するギャラリーページです。">
    <meta property="og:image" content="/user/assets/images/ogp/OGP_image.jpeg" th:content="@{/user/images/ogp/OGP_image.jpeg}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://agrifake.com/">

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@600;700&display=swap" rel="stylesheet">

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" href="/user/assets/css/reset.css" th:href="@{/user/css/reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" href="/user/assets/css/header.css" th:href="@{/user/css/header.css}">
    <link rel="stylesheet" href="/user/assets/css/common.css" th:href="@{/user/css/common.css}">
    <link rel="stylesheet" href="/user/assets/css/footer.css" th:href="@{/user/css/footer.css}">
    <!-- ===== GalleryPage CSS　 ===== -->
    <link rel="stylesheet" href="/user/assets/css/gallery.css" th:href="@{/user/css/gallery.css}">
  </head>

  <body>
    <!-- ========== ヘッダー ========== -->
    <div id="header" th:replace="~{user/components/header :: header}"></div>


    <main>
      <!-- ========== ギャラリー ========== -->
      <section class="gallery-product">
        <header class="headline">
          <h2 class="headline__text">ギャラリー</h2>
        </header>

        <!-- ===== 農作物リスト ===== -->
        <div class="gallery__group gallery__group--fresh-produce">
          <h3 class="gallery__title">農作物</h3>
          <div th:replace="~{user/components//gallery-grid :: gallery(items=${freshProduce})}"></div>
        </div>

        <!-- ===== 加工品リスト ===== -->
        <div class="gallery__group gallery__group--processed-products">
          <h3 class="gallery__title">加工品</h3>
          <div th:replace="~{user/components/gallery-grid :: gallery(items=${processedProducts})}"></div>
        </div>

        <!-- ===== 詳細モーダル ===== -->
        <div th:replace="~{common/components/gallery/gallery-modal :: modal(contentFragment=~{user/components/gallery-modal-content :: content})}"></div>

      </section>
    </main>


    <!-- ========== フッター ========== -->
    <div id="footer" th:replace="~{user/components/footer :: footer}"></div>


    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" src="/user/assets/js/header.js" th:src="@{/user/js/header.js}"></script>
    <script type="module" src="/user/assets/js/footer.js" th:src="@{/user/js/footer.js}"></script>
    <!-- ===== GalleryData Script ===== -->
    <script type="module" src="/user/assets/js/gallery.js" th:src="@{/user/js/gallery.js}"></script>
    <!-- ===== GalleryPage Script ===== -->
    <script src="/common/assets/js/gallery-modal.js" th:src="@{/common/js/gallery-modal.js}"></script>

  </body>
</html>