<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あぐりふぇいく | 管理_ギャラリー新規作成/編集</title>

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-sidebar.css}">
    <link rel="stylesheet" th:href="@{/common/css/form-modal.css}">
    <!-- ===== AdminGalleryForm CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-gallery-form.css}">
  </head>

  <body>
    <!-- ========== サイドバー ========== -->
    <div th:replace="~{admin/components/admin-sidebar :: sidebar}"></div>


    <main>
      <!-- ========== ギャラリー投稿フォーム ========== -->
      <section>
        <header class="headline">
          <h2 class="headline__text">新規作成/編集</h2>
        </header>

        <!-- ===== フォーム ===== -->
        <div class="gallery-group">
          <!-- AdminGalleryControllerで新規作成 or 編集フラグを作成 -->
          <form th:action="${isEdit} ? @{/admin/gallery/edit/{id}(id=${gallery.id})} : @{/admin/gallery/create}"
                th:object="${gallery}"
                method="post"
                enctype="multipart/form-data"
                id="gallery-form">

            <input type="hidden" th:field="*{id}" />

            <div class="gallery-item">
              <label>カテゴリー<span class="form-required">必須</span></label><!-- バリデーションチェックはJSで独立処理 -->
              <label><input type="radio" th:field="*{category}" value="FRESH_PRODUCE" required data-label="カテゴリー">農作物</label>
              <label><input type="radio" th:field="*{category}" value="PROCESSED_PRODUCTS">加工品</label>
            </div>

            <div class="gallery-item">
              <label for="title">タイトル<span class="form-required">必須</span></label>
              <input type="text" th:field="*{title}" id="title" required data-label="タイトル">
            </div>

            <div class="gallery-item">
              <label for="description">詳細<span class="form-required">必須</span></label>
              <textarea th:field="*{description}" id="description" rows="4" required data-label="詳細"></textarea>
            </div>

            <div class="gallery-item">
              <label for="thumbnailImage">一覧用画像<span class="form-required">必須</span></label>
              <input type="file" th:field="*{thumbnailImage}" id="thumbnailImage" accept="image/*" required data-label="一覧用画像">
            </div>
            <!-- サムネ画像プレビュー（編集時のみ） -->
            <div th:if="${gallery.thumbnailPreview != null}">
              <p>現在の画像:</p>
              <img th:src="@{${gallery.thumbnailPreview}}" alt="サムネ画像" style="max-width:200px; margin-top:5px;">
            </div>

            <div class="gallery-item">
              <label for="detailImage">詳細用画像</label>
              <input type="file" th:field="*{detailImage}" id="detailImage" accept="image/*"  data-label="詳細用画像">
            </div>
            <!-- 詳細画像プレビュー（編集時のみ） -->
            <div th:if="${gallery.detailPreview != null}">
              <p>現在の画像:</p>
              <img th:src="@{${gallery.detailPreview}}" alt="詳細画像" style="max-width:200px; margin-top:5px;">
            </div>

            <button class="submit-btn" type="submit">送信</button>
          </form>
        </div>

        <!-- ---------- 送信確認モーダル ---------- -->
        <!-- <div id="confirm-modal"></div> -->

        <!-- ---------- 完了モーダル ---------- -->
        <!-- <div id="complete-modal"></div> -->

      </section>
    </main>

    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" th:src="@{/admin/js/admin-sidebar.js}"></script>
    <!-- ===== AdminGalleryForm Script ===== -->
    <script type="module" th:src="@{/admin/js/admin-gallery-form.js}"></script>

  </body>
</html>

