<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あぐりふぇいく | 管理_採用情報新規作成/編集</title>

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-sidebar.css}">
    <link rel="stylesheet" th:href="@{/common/css/form-modal.css}">
    <!-- ===== AdminRecruitForm CSS　 ===== -->
     <link rel="stylesheet" th:href="@{/admin/css/admin-recruit-form.css}">
  </head>

  <body>
    <!-- ===== サイドバー ===== -->
    <div th:replace="~{admin/components/admin-sidebar :: sidebar}"></div>


    <main>
      <!-- ========== 募集要項新規作成/編集フォーム ========== -->
      <section class="recruit-job-description-list">
        <header class="headline">
          <h2 class="headline__text">募集要項一覧</h2>
        </header>

        <!-- ===== フォーム ===== -->
        <div class="recruit-group">
          <form id="recruit-form">

            <div class="recruit-item">
              <label>募集職種<span class="form-required">必須</span></label>
              <input type="text" name="position" id="position" required data-label="募集職種">
            </div>

            <div class="recruit-item">
              <label>雇用形態<span class="form-required">必須</span></label>
              <textarea name="employment_type" id="employment-type" rows="2" required data-label="雇用形態"></textarea>
            </div>

            <div class="recruit-item">
              <label>仕事内容<span class="form-required">必須</span></label>
              <textarea name="job_description" id="job-description" rows="4" required data-label="仕事内容"></textarea>
            </div>

            <div class="recruit-item">
              <label>給与<span class="form-required">必須</span></label>
              <textarea name="salary" id="salary" rows="2" required data-label="給与"></textarea>
            </div>

            <div class="recruit-item">
              <label>勤務地<span class="form-required">必須</span></label>
              <textarea name="location" id="location" rows="2" required data-label="勤務地"></textarea>
            </div>

            <div class="recruit-item">
              <label>応募条件<span class="form-required">必須</span></label>
              <textarea name="requirements" id="requirements" rows="2" required data-label="応募条件"></textarea>
            </div>

            <div class="recruit-item">
              <label>勤務時間<span class="form-required">必須</span></label>
              <textarea name="work_schedule" id="work-schedule" rows="2" required data-label="勤務時間"></textarea>
            </div>

            <div class="recruit-item">
              <label>待遇・福利厚生<span class="form-required">必須</span></label>
              <textarea name="benefit" id="benefit" rows="3" required data-label="待遇・福利厚生"></textarea>
            </div>

            <div class="recruit-item">
              <label>備考</label>
              <textarea name="notes" id="notes" rows="5" data-label="備考"></textarea>
            </div>

            <button class="submit-btn" type="submit">送信</button>

          </form>
        </div>

        <!-- ---------- 送信確認モーダル ---------- -->
        <div id="confirm-modal"></div>

        <!-- ---------- 完了モーダル ---------- -->
        <div id="complete-modal"></div>
      </section>
    </main>


    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" th:src="@{/admin/js/admin-sidebar.js}"></script>
    <!-- ===== AdminRecruitForm Script ===== -->
    <script type="module" th:src="@{/admin/js/admin-recruit-form.js}"></script>

  </body>
</html>
