<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- ========== Meta ========== -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あぐりふぇいく | 管理_ギャラリー</title>
    <!-- ========== CSRF トークン ========== -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- ========== CSS ========== -->
    <!-- ===== Reset CSS ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-reset.css}">
    <!-- ===== Common CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-sidebar.css}">
    <!-- ===== AdminGallery CSS　 ===== -->
    <link rel="stylesheet" th:href="@{/admin/css/admin-gallery.css}">
  </head>
  <body>
    <!-- ========== サイドバー ========== -->
    <div th:replace="~{admin/components/admin-sidebar :: sidebar}"></div>


    <main>
      <!-- ========== ギャラリー ========== -->
      <section class="gallery-product">
        <header class="headline">
          <h2 class="headline__text">ギャラリー</h2>
        </header>

        <!-- ===== 農作物リスト===== -->
        <div class="gallery__group gallery__group--fresh-produce">
          <h3 class="gallery__title">農作物</h3>
          <div th:replace="~{admin/components//gallery-grid :: gallery(items=${freshProduce})}"></div>
        </div>

        <!-- ===== 加工品リスト ===== -->
        <div class="gallery__group gallery__group--processed-products">
          <h3 class="gallery__title">加工品</h3>
          <div th:replace="~{admin/components/gallery-grid :: gallery(items=${processedProducts})}"></div>
        </div>

        <!-- ===== 詳細モーダル ===== -->
        <div th:replace="~{common/components/gallery/gallery-modal :: modal(contentFragment=~{admin/components/gallery-modal-content :: content})}"></div>


      </section>
    </main>

    <!-- ========== JavaScript ========== -->
    <!-- ===== Common Script ===== -->
    <script type="module" th:src="@{/admin/js/admin-sidebar.js}"></script>
    <!-- ===== AdminGallery Script ===== -->
    <!-- <script type="module" th:src="@{/admin/js/admin-gallery.js}"></script> -->
    <script th:src="@{/admin/js/admin-gallery-modal.js}"></script>
    <script th:src="@{/common/js/gallery-modal.js}"></script>
  </body>
</html>
