<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Admin Login</title>
  </head>
  <body>

    <h2>管理者ログイン</h2>

    <form th:action="@{/api/admin/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="ユーザー名" required>
        </div>

        <div>
            <input type="password" name="password" placeholder="パスワード" required>
        </div>

        <button type="submit">ログイン</button>
    </form>

    <div th:if="${param.error}">
        ログインに失敗しました
    </div>

  </body>
</html>